<!DOCTYPE html>
<html>
<head>
	<title>[[TITLE]]</title>
	<link rel="stylesheet" href="[[LOCATION]]/css/style.css" />
	<script src="[[LOCATION]]/javascript/jquery.min.js"></script>
	<script src="[[LOCATION]]/javascript/essentials.js" ></script>
</head>
<body>
<div class="header">
	<table class="heading" >
		<tr>
			<td>
				<a href="[[LOCATION]]/index.php" >[[HEAD]]</a>
			</td><td class="login" >
			[[LOGINBOX]]
		</td>
		</tr>
	</table>
</div>
<div class="column">
	<div class="main">
		<table class="user_profile">
			<tr>
				<td rowspan="2" class="user_words">
					<div class="user_avat" >[[AVATAR]]</div>
					<div class="user_name" style="color:[[USERCOLOR]];">[[USERNAME]]</div>
					<div class="user_rank" style="color:[[RANKCOLOR]];">[[USERRANK]]</div>
					<div class="user_prim_gr" style="color:[[PRGROUPCOLOR]];">[[PRGROUP]]</div>
					<div class="user_reg_date" >[[REGDATE]]</div>
				</td>
				<td>
					[[USERBIO]]
				</td>
			</tr>
			<tr>
				<td>
					[[AUXGROUPS]]
				</td>
			</tr>
			<tr>
				<td>
					[[USERSIG]]
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="footer">
	[[FOOT]]
</div>
<div id="overlay" >
	<div id="overlay_contents" ></div>
</div>
</body>

</html>